body {
  background-color: #fff2f6;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  max-width: 100%;
  background: #fff;
  box-shadow: 5px 11px 0 rgba(0, 0, 0, 0.5);
  width: 210px;
  padding: 20px 10px;
}

.popup {
  display: none;
}

.disc {
  background: #000;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
